<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pantsu.scrolldemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".scroll_1.Activity_1"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".scroll_2.Activity_2"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".scroll_3.Activity_3"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".scroll_5.Activity_5"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".scroll_6.Activity_6"
            android:theme="@style/AppBaseTheme">
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        </activity>
        <activity
            android:name=".scroll_7.Activity_7"
            android:theme="@style/AppBaseTheme"></activity>
    </application>

</manifest>
